<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
  <h1>Add a new todo</h1>
    <form action="/add" method="post">
        <label>Title:</label><input type="text" name="Title" /><br>
        <label for="IsUrgent">Urgent</label><input type="radio" name="IsUrgent" value="true" />
        <button type="submit">Add</button>
    </form>
</body>
</html>
