@model Exercise_01_Counter.Models.Counter
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Counter</title>
</head>
<body>
    @Model.Number
    <form action="/" method="post">
        <button type="submit" value="Add">Button</button>
    </form>
</body>
</html>