@model LionKing.Models.BankAccount
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank Account</title>
</head>
<body>
        Hello @Model.Name!
        You are a(n) @Model.Animaltype
        Your balance is  @{ @Model.Balance.ToString("0.00 ") @Model.Currency; }
</body>
</html>