body {
    text-align : center;
}
#king {
    animation: shine 5s ease-in-out infinite;
    animation-fill-mode: forwards;
    display:inline;
}
table  {
    align-content:center;
}
tr{
    align-content:center;
}
td{
    column-width:auto;
    text-align:center;
    width:300px;
}
@keyframes shine {
    10% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }

    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}